.member-card {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.flex {
  display: flex;
}

.member-age,
.address,
.occupation,
.no-of-shops,
.mobile,
.location {
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  font-size: 0.8rem;
}

.member-age > span:first-child,
.address > span:first-child,
.occupation > span:first-child,
.no-of-shops > span:first-child,
.mobile > span:first-child,
.location > span:first-child {
  font-weight: 600;
  color: #ffb03a;
  padding-right: 0.4rem;
}

.member-info {
  text-align: center;
}

.actions {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-card-actions {
  display: flex;
  gap: 0.5rem;
}

.user-card- .seeDetails-btn {
  height: 2rem;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  border-radius: 0.5rem;
  background-color: rgb(255, 238, 217);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  text-transform: uppercase;
  cursor: pointer;
}

@media screen and (min-width: 764px) {
  .member-card {
    flex-direction: row;
  }
}
