.shop-card-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
}

.field {
  display: flex;
  gap: 1rem;
}

.field > p:first-child {
  font-weight: 600;
}

.business-details {
  padding-bottom: 5rem;
}

.shop-interaction-btns {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 764px) {
  .shop-interaction-btns {
    flex-direction: row;
  }
}
